.controleBomba {
  padding: 10px;
}

.controle {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding-left: 10px;
  padding: 10px;
  border: 3px solid rgb(46, 46, 46);
  /* contorno */
  border-radius: 10px 10px 0px 0px;
  /* arredondar cantos (opcional) */
}

.conteinerBomba {
  border: 3px solid rgb(46, 46, 46);
  /* contorno */
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBomba {
  width: 150px;
}

.imgRaio {
  position: relative;
  width: 40px;
  opacity: 0;

}

.blink {
  animation: blink 1s infinite;
  position: relative;
  width: 40px;
}

@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.controleStatusMotor {
  display: flex;
  width: 100%;
  gap: 5px;
}

.statusMotor {
  width: 50%;
  height: 40px;
}

.statusMotor h1 {
  font-size: 0.6rem;
  padding-bottom: 5px;
}

.bombaLigar {
  width: 100%;
  height: 35px;
  background: var(--state-botao-ligado);
  border-radius: 10px;
}

.bombaDesligar {
  width: 100%;
  height: 35px;
  background: var(--state-botao-deligado);
  border-radius: 10px;
}

.bombaLigar_ativado {
  width: 100%;
  height: 35px;
  background: var(--state-botao-ligado-ativo);
  border-radius: 10px;
}

.bombaDesligar_ativado {
  width: 100%;
  height: 35px;
  background: var(--state-botao-deligado-ativo);
  border-radius: 10px;
}

.toogle h1 {
  padding-bottom: 5px;
  font-size: 0.6rem;
}

#btnMotor {
  appearance: none;
}

.btn {
  height: 30px;
  width: 60px;
  background: rgb(143, 143, 143);
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.circulo {
  height: 25px;
  width: 25px;
  background: rgb(231, 231, 231);
  border-radius: 25px;
  position: relative;
  left: 2px;
  transition: transform 0.3s ease;
}

#btnMotor:checked~.circulo {
  background: rgb(231, 231, 231);
  transition: transform 0.3s ease;
  transform: translateX(30px);
}