.grafico{
 background: var(--secondary-color);
 border-radius: 10px;
 /* height: 200px; */
}
.titulo_grafico ,.TextGrafico{
 padding: 10px;
 color: white;
}
.TextGrafico{
 display: flex;
 flex-direction:row;
 flex-wrap: nowrap;
 justify-content: space-between;
}