.caixa_sensor_e_caixa_config{
 display: grid;
 grid-template-columns: 60% auto;
 padding: 10px;
}
@media (min-width:450px) and (max-width:800px){
 .main-controler{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 }
}