.conteiner-relatorio {
    padding: 10px;
}

.conteiner-relatorio h1 {
    padding-left: 10px;
}

.caixaRelatorio {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    overflow-y: auto;
    /* adiciona scroll vertical quando o conteúdo passar do limite */
    border: 1px solid #ccc;
    padding: 10px;
}

.caixaRelatorio p {
    color: aliceblue;
    font-size: 0.6rem;
    
}
.relatorio-heder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.stadoConectado{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.stadoConectado h1{
    font-size: 0.6rem;
    padding-right: 5px;
}

.stadoMQTT{
height: 15px;
width: 15px;
background: #fa4646;
}