@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --primary-color: #041C32;   /* azul */
  --secondary-color: #064663; /* verde */
  --tree-color:#ECB365;
  --text-color: #111827;      /* quase preto */
  --font-base: "Inter", sans-serif;
  --spacing-md: 1rem;
  --state-botao-ligado:#1f5c1f;
  --state-botao-deligado:#701e1e;
  --state-botao-ligado-ativo:#4eee4e;
  --state-botao-deligado-ativo:#eb4141;
  --colo-branco:#f1f1f1;

  --font-size-h1:1rem;
  --font-size-h2:0.7rem;

  --whidth-min:450px;
  --whidth-max:850px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--primary-color);
}
main{
  margin: 5px;
}
h1{
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-h1);
}
h2{
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-h2);
}

.d-controle{
  background-color: var(--tree-color);
  border-radius: 10px;
}
.dashibord{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width:1000px) {
  body{
    /* background-color: rgb(255, 0, 0); */
  }
  .dashibord{
    display: grid;
    grid-template-columns: 250px auto;
    /* grid-template-rows: 1fr; */

    grid-template-areas: 
    "controle controle"
    "sensores sensores"
    "grafico grafico";
  }
  .d-controle{
    grid-area:controle
  }
  .graficos-sensores{
    grid-area:sensores;
  }

  .graficos-caixas{
    grid-area:grafico;
  }
}

@media (min-width:850px) {
  body{
    /* background-color: rgb(0, 255, 34); */
  }
  .dashibord{
    display: grid;
    grid-template-columns: 250px auto;
    /* grid-template-rows: 1fr; */

    grid-template-areas: 
    "controle sensores"
    "controle grafico"
    "controle grafico";
  }
  .d-controle{
    grid-area:controle
  }
  .graficos-sensores{
    grid-area:sensores;
  }

  .graficos-caixas{
    grid-area:grafico;
  }
}